{# common components for the children pages #}
<p>
    <a href="{% url 'logs:index' %}"> Learning Log </a> -
    <a href="{% url 'logs:topics' %}"> Topics </a> -
    <a href="{% url 'logs:new_topic' %}"> Add a new topic </a> -

    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <br>
        <form action="{% url 'users:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> -
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>

{#place holder for child components#}
{% block content %}{% endblock content %}